body {
  font-family: Roboto,sans-serif;
  line-height: 1.5rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
#map-title {
  align-self: center;
  text-align: center;
}
#map {
  margin-top: 20px;
  align-self: center;
}
#map-legend {
  position: absolute;
  bottom: 0;
  left: 48%;
}
#bar-chart-title {
  align-self: center;
  text-align: center;
}
#bar-chart {
  margin-top: 20px;
  align-self: center;
}
.tooltip {
  background-color: white;
  border: 1px solid #1867c0;
  border-radius: 4px;
  position: absolute;
  width: 385px;
  z-index: 100;
}
.tooltip .tooltip-title {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 16px 24px 10px;
}
.tooltip .tooltip-content {
  font-size: .925rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: .0071428571em;
  width: 100%;
}
.tooltip .tooltip-content ul {
  list-style-type: none;
}